* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*=============================*/
.wrapper {
  background-color: rgba(132, 109, 109, 0.236);
}

.page__calculator {
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  width: 300px;
  height: 500px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: black;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.calculator__result {
  border-radius: 30px;
  background-color: rgb(76, 78, 90);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.calculator__result p {
  padding: 20px;
  overflow: hidden;
}
.calculator__buttons {
  font-size: 35px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.calculator__buttons .active.button {
  background-color: #837b7b;
}
.calculator__button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(69, 69, 69);
}
@media (any-hover: hover) {
  .calculator__button:hover {
    opacity: 0.8;
    background-color: #bab3b3;
  }
  .calculator__button:active {
    background-color: rgb(69, 69, 69);
    opacity: 1;
  }
}
.calculator__button.--yellow {
  background-color: rgb(255, 166, 0);
}

.button-reset {
  font-size: 25px;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.page__converter {
  width: 250px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 15px;
  background-color: gray;
}

.converter {
  font-size: 40px;
}
.converter__input {
  margin-bottom: 15px;
}
.converter__input input {
  border: 3px solid #000;
  border-radius: 10px;
  background-color: rgba(4, 255, 0, 0.4549019608);
  padding: 5px;
}
.converter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}
.converter__button {
  width: 50px;
  border: 4px solid #000000;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
}

.number-year {
  width: 300px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.page.page-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.button-show {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  margin-top: 10px;
}

.wrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 33px;
  font-weight: 500;
  line-height: 130%;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 40px;
}
.page__link-lessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}
.page__link-lessons a {
  padding: 40px;
  border-radius: 30px;
  border: 2px solid #444;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.page__link-lessons a:active {
  color: #d6caca;
  background-color: #eddada;
}
@media (any-hover: hover) {
  .page__link-lessons a:hover {
    background-color: #756d6d;
    color: #fff;
  }
}

.work {
  background-color: red;
}

.button-results {
  width: 400px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #756d6d;
  padding: 10px;
}

.main {
  padding: 20px;
}
.main__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__tasks button {
  padding: 20px 50px;
  font-size: 25px;
  background-color: gray;
  color: white;
  border-radius: 20px;
}
.main__tasks button.active {
  background-color: red;
}
.main__container {
  max-width: 1000px;
  margin: 0 auto;
}
.main__wrapper-result {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  min-height: 500px;
}
.main__wrapper-result > div {
  height: 100%;
}
.main__wrapper-result > .task-3 {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
.main__wrapper-result > .task-3 ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.input-task-2 {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.task-one {
  cursor: pointer;
}

li {
  list-style: none;
}

.li-task-3 {
  padding: 5px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
}

.button-task-3 {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px 50px;
}

.table-task-4 {
  padding: 10px;
}
.table-task-4 tr td {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
@media (any-hover: hover) {
  .table-task-4 tr td:hover {
    background-color: #ddadad;
  }
}
.table-task-4 tr td:active {
  background-color: #eddada;
}
.table-task-4:not(:last-child) {
  margin-bottom: 50px;
}

.card-task-5 {
  border: 1px solid gray;
  background-color: rgb(235, 221, 221);
  padding: 10px;
}
.card-task-5 > div {
  border-radius: 30px;
  overflow: hidden;
}

.wrap-task-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.active-task-5 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: 4px solid greenyellow;
  border-color: greenyellow;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  gap: 20px;
}
.player > button {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}
@media (any-hover: hover) {
  .player > button:hover {
    background-color: #aeaeae;
  }
}
.player > button:active {
  background: transparent;
}
.player > button img {
  width: 100%;
  height: 100%;
}

.stock-players {
  border: 2px solid black;
}

.manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.manager > div {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.rotate-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.snow-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.snow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.snow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wrapper.wrapper-manager {
  background-color: white;
}

.managers {
  font-size: 22px;
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.managers > div {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.add-task h2 {
  text-align: center;
  font-size: 30px;
}
.add-task label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .add-task label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.add-task input {
  border-radius: 20px;
  max-width: 400px;
  border: 1px solid gray;
  padding: 5px 10px;
  background-color: white;
}
.add-task button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .add-task button:hover {
    background-color: #f7c7c7;
  }
}
.add-task button:active {
  background-color: transparent;
}

.stock-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stock-tasks > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stock-tasks > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}
.task button {
  line-height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .task button:hover {
    background-color: #f7c7c7;
  }
}
.task button:active {
  background-color: transparent;
}

.title-task {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sort select {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.search-wrapper input {
  border: 1px solid black;
  width: 400px;
}

.result-serch-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.bank {
  padding: 50px;
}
.bank input::-webkit-input-placeholder {
  font-size: 16px;
}
.bank input::-moz-placeholder {
  font-size: 16px;
}
.bank input:-ms-input-placeholder {
  font-size: 16px;
}
.bank input::-ms-input-placeholder {
  font-size: 16px;
}
.bank input::placeholder {
  font-size: 16px;
}
.bank__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}
.bank > button {
  margin-right: 50px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid black;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .bank > button:hover {
    background-color: #d6caca;
  }
}
.bank__get-cash-client {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  text-transform: capitalize;
}
.bank__add-cash-client {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  text-transform: capitalize;
}
.bank__form {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.bank__result-container > div {
  font-size: 25px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.bank__register-title {
  font-size: 35px;
  text-align: center;
}
.bank__show-client {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.bank__form-container {
  font-family: sans-serif;
}
.bank__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}
.bank__wrap-input {
  position: relative;
}
.bank__wrap-input.success-input input {
  border: 1px solid #59e73c;
  outline: 1px solid #59e73c;
}
.bank__wrap-input.error-input::after {
  content: "The field must have at least two characters";
  position: absolute;
  font-size: 12px;
  left: 0;
  bottom: -40%;
  color: #e74c3c;
}
.bank__wrap-input.pin-error::after {
  content: "The field must have  four characters";
}
.bank__wrap-input.error-lim::after {
  content: "The field must have min one and max five characters ";
}
.bank__wrap-input.success-input::before {
  background: #59e73c url("../img/icons-check.svg") 0 0/contain no-repeat;
}
.bank__wrap-input.error-input::before, .bank__wrap-input.success-input::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  color: white;
}
.bank__wrap-input.error-input::before {
  content: "!";
  background-color: #e74c3c;
}
.bank__wrap-input.error-input input {
  border: 1px solid #e74c3c;
  outline: 1px solid #e74c3c;
}
.bank__input {
  width: 300px;
  border: 1px solid gray;
  padding: 5px 10px;
}
.bank__input:focus {
  outline: none;
}
.bank__wrap-button-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}
.bank__wrap-button-cancel button {
  width: 30px;
  height: 20px;
  position: relative;
}
.bank__wrap-button-cancel button::before, .bank__wrap-button-cancel button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: black;
}
.bank__wrap-button-cancel button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -1px;
}
.bank__wrap-button-cancel button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: -1px;
}
.bank__wrap-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.bank__button-add-cash, .bank__button-get-cash {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 5px;
  border: 2px solid black;
  border-radius: 30px;
  width: 200px;
}
.bank__button-submit {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .bank__button-submit:hover {
    background-color: #d6caca;
  }
}
.bank__button-submit:active {
  background-color: white;
}
.bank__wrap-mini-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.active-btn,
.active-btn-result {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ddadad;
}