@import "_null.scss";
/*=============================*/
@import "../lesson_18/tasks/task-1/scss/_task-1.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	font-size: 33px;
	font-weight: 500;
	line-height: 130%;
	min-height: 100%;
}
.page {
	flex:  1 1 auto;
	padding: 40px;
	&__link-lessons {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 40px;
		& a {
			padding: 40px;
			border-radius: 30px;
			border: 2px solid #444;
			transition: all 0.1s ease;
			&:active {
				color: #d6caca;
				background-color: #eddada;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: #756d6d;
					color: #fff;
				}
			}
		}
	}

	&__lesson-one {
	}

	&__lesson-two {
	}
}

.work {
	background-color: red;
}
