.number-year{
	width: 300px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.page.page-year{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.button-show{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 10px;
    
}